<section class="gallery-s3 bg-secondary container-fluid d-flex minh-50vh align-items-center py-5">
	<div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-5 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start pt-5 text-shadow">
                <h5 class="text-white">
                    Lorem ipsum
                </h5>
                <h2 class="dispaly-6 fw-bold text-light text-shadow">
                    Dolor sit amet         
                </h2>
                <p class="text-white">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est  
                </p>
            </div>
        </div>
    </div>
</section>